# Dependencies
node_modules
/.pnp
.pnp.*

# Next.js & Build
.next
/out
/build
.vercel

# Environment variables
.env*
!.env.example

# Local storage & cache
.data
*.pt
test-results
coverage
*.tsbuildinfo
.DS_Store
*.pem
